@page
@model AcmeNotas.App.Presentacion.Pages.CrudMunicipio.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Municipio[0].CodMunicipio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Municipio[0].NombreMunicipio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Municipio[0].Departamento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Municipio) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodMunicipio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreMunicipio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departamento.Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
