@page
@model AcmeNotas.App.Presentacion.Pages.CrudHorario.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Horario[0].Dia1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Horario[0].HoraInicio1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Horario[0].HoraFinal1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Horario[0].Dia2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Horario[0].HoraInicio2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Horario[0].HoraFinal2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Horario[0].Dia3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Horario[0].HoraInicio3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Horario[0].HoraFinal3)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Horario) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Dia1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraInicio1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraFinal1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dia2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraInicio2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraFinal2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dia3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraInicio3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraFinal3)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
