@page
@model AcmeNotas.App.Presentacion.Pages.CrudEstudiante.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Estudiante</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estudiante.Cedula)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estudiante.Cedula)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estudiante.Nombres)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estudiante.Nombres)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estudiante.Apellidos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estudiante.Apellidos)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estudiante.Direccion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estudiante.Direccion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estudiante.Telefono)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estudiante.Telefono)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estudiante.Celular)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estudiante.Celular)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estudiante.CorreoElectronico)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estudiante.CorreoElectronico)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estudiante.Departamento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estudiante.Departamento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estudiante.Usuario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estudiante.Usuario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estudiante.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estudiante.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estudiante.PrimerRegistro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estudiante.PrimerRegistro)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Estudiante.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
